# Database
POSTGRES_URL="postgres://postgres.[USERNAME]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?workaround=supabase-pooler.vercel"

# Auth - generate secret via 'openssl rand -base64 32'
# @see https://www.better-auth.com/docs/installation
AUTH_SECRET='supersecret'

# Discord OAuth
# @see https://www.better-auth.com/docs/authentication/discord
AUTH_DISCORD_ID=''
AUTH_DISCORD_SECRET=''

# Optional: Auth proxy for Expo OAuth in development
# AUTH_REDIRECT_PROXY_URL=''
