@import "tailwindcss";
@import "tw-animate-css";

@source '../../../../packages/ui/src/*.{ts,tsx}';

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    /* TODO: Use oklch colors */
    --background: hsl(293.7 46.3% 92%);
    --foreground: hsl(296 56% 21%);
    --card: hsl(291 54% 97%);
    --card-foreground: hsl(240 10% 30%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(296 56% 21%);
    --primary: hsl(334.2 74.9% 56.9%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(314.7 61.6% 85.7%);
    --secondary-foreground: hsl(295.8 40.9% 34.5%);
    --muted: hsl(327.7 61.6% 78.7%);
    --muted-foreground: hsl(327 77% 38%);
    --accent: hsl(314.7 61.6% 85.7%);
    --accent-foreground: hsl(240 10% 30%);
    --destructive: hsl(335 94% 50%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(304.6 27.7% 90.8%);
    --input: hsl(317.4 44.2% 83.1%);
    --ring: hsl(333.3, 71.4%, 50.6%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.5rem;
    --sidebar-background: hsl(290.3 49.2% 87.6%);
    --sidebar-foreground: hsl(240 10% 30%);
    --sidebar-primary: hsl(240 10% 30%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(60 5% 97%);
    --sidebar-accent-foreground: hsl(240 10% 30%);
    --sidebar-border: hsl(20 6% 92%);
    --sidebar-ring: hsl(333.3, 71.4%, 50.6%);
  }

  .dark {
    /* TODO: Use oklch colors */
    --background: hsl(313.8 24.5% 10.4%);
    --foreground: hsl(270 20% 97.8%);
    --card: hsl(300 15.8% 3.7%);
    --card-foreground: hsl(240 4.8% 95.9%);
    --popover: hsl(320 23.08% 5.1%);
    --popover-foreground: hsl(326 33% 96%);
    --primary: hsl(332 100% 32%);
    --primary-foreground: hsl(326 85% 90%);
    --secondary: hsl(273.8 15.1% 20.8%);
    --secondary-foreground: hsl(270 30% 83%);
    --muted: hsl(283 9% 25%);
    --muted-foreground: hsl(326 33% 86%);
    --accent: hsl(272 20% 27%);
    --accent-foreground: hsl(326 33% 96%);
    --destructive: hsl(335.82 74.44% 35.29%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(262.5 10% 15.7%);
    --input: hsl(326.3 20% 15.7%);
    --ring: hsl(333.3, 71.4%, 50.6%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
    --sidebar-background: hsl(240 2.6% 7.6%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(318.5 20.6% 12.4%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(0 0% 0%);
    --sidebar-ring: hsl(333.3, 71.4%, 50.6%);
  }
}

@theme inline {
  /** Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /** Border Radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
